{% extends "base.html" %}

{% block styleContent %}
<style>
    table, th, td {
      border: 1px solid black;
      margin: 2% auto; 
      text-align: center;
    }
    
    th, td {
      padding: 20px;
    }
</style>
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Tempreture</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(temp|length): %}
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ temp[-(i+1)] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}